@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

:root {
  --color-primary: 35 98 245; /* blue-600 */
  --color-secondary: 17 24 39; /* slate-900 */
  --color-accent: 16 185 129; /* emerald-500 */
}
